<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.aiservice.mapper.RagMapper">
    <resultMap id="RagMap" type="com.atguigu.aiservice.param.RagParam">
        <id property="id" column="id" />
        <result property="title" column="title" />
        <result property="description" column="description" />
        <result property="collectionName" column="collection_name" />
        <result property="userId" column="creator_id" />
        <result property="creationTime" column="creation_time"/>
    </resultMap>
    <insert id="create" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO knowledge(title, description, collection_name, creator_id, modifier_id)
        VALUES (#{title}, #{description}, #{collectionName}, #{userId}, #{userId})
    </insert>
    <update id="update">
        UPDATE knowledge
        SET title = #{title}, description = #{description}, collection_name = #{collectionName}, modifier_id = #{userId}
        WHERE id = #{id}
    </update>
    <delete id="delete">
        DELETE FROM knowledge
        WHERE id = #{id}
    </delete>

    <select id="list" resultMap="RagMap">
        SELECT * FROM knowledge
        WHERE creator_id = #{userId}
    </select>

</mapper>